@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Heebo:wght@400;500;600&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #2C2E43;
}

.logo {
   font-family: 'Bungee', cursive;
   position: relative;   
}

.span-logo {
   position: relative;
   z-index: 2;
}

.logo::before {
   transform: scaleX(0);
   transform-origin: bottom right;
}

.logo:hover::before {
   transform: scaleX(1);
   transform-origin: bottom left;
}

.logo::before {
   content: '';
   display: block;
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   inset: 0 0 0 0;
   z-index: 0;
   background: hsl(200 100% 80%);
   transition: transform .3s ease;
}


.link{
   position: relative;
}

.form-contact {
   width: 100%;
   height: 100%;
}

.container-1 {
   width: 38vw;
   height: 60vh;
   background: #ffffff;
   position: relative;
   top: 10em;
   left: 30em;
   border-radius: 15px;
}

.form-contact {
   position: relative;
}

.title-contact {
   position: relative;
   top: 5em;
   left: 41em;
   width: 20vw;
}

.contact-header {
   font-family: 'Bungee', cursive;
   color: #EEEEEE;
}

.first {
   position: absolute;
   top: 3em;
   left: 2.6em;
   color: #2C2E43;
   font-family: 'Poppins', sans-serif;
}

.input-first {
   position: absolute;
   top: 5em;
   left: 2em;
   width: 15vw;
   height: 5vh;
   border: none;
   border-radius: 5px;
   background: #EEEEEE;
   box-shadow: 0px 8px 24px  rgba(0, 0, 0, 0.15);
}

.input-first::placeholder {
   position: absolute;
   top: 0.5em;
   left: 0.8em;
}

.last {
   position: absolute;
   top: 3em;
   left: 20.3em;
   font-family: 'Poppins', sans-serif;
}

.input-last {
   position: absolute;
   width: 15vw;
   height: 5vh;
   top: 5em;
   left: 20em;
   border: none;
   border-radius: 5px;
   background: #EEEEEE;
   box-shadow: 0px 8px 24px  rgba(0, 0, 0, 0.15);
}

.input-last::placeholder {
   position: absolute;
   top: 0.5em;
   left: 0.8em;
}

.email {
   position: absolute;
   font-family: 'Poppins', sans-serif;
   top: 8em;
   left: 2.6em;
}

.email-input {
   position: absolute;
   width: 15vw;
   height: 5vh;
   top: 10em;
   left: 2em;
   border: none;
   border-radius: 5px;
   background: #EEEEEE;
   box-shadow: 0px 8px 24px  rgba(0, 0, 0, 0.15);
}

.email-input::placeholder {
   position: absolute;
   top: 0.5em;
   left: 0.8em;
}

.msg {
   position: absolute;
   font-family: 'Poppins', sans-serif;
   top: 13em;
   left: 2.6em;
}

.msg-input {
   position: absolute;
   width: 33vw;
   height: 20vh;
   top: 15em;
   left: 2em;
   border: none;
   border-radius: 5px;
   background: #EEEEEE;
   box-shadow: 0px 8px 24px  rgba(0, 0, 0, 0.15);
}

.msg-input::placeholder {
   position: absolute;
   top: 0.5em;
   left: 0.8em;
}

.sujet {
   position: absolute;
   top: 8em;
   left: 20.3em;
   font-family: 'Poppins', sans-serif;
}

.sujet-input {
   position: absolute;
   top: 10em;
   left: 20em;
   width: 15vw;
   height: 5vh;
   border: none;
   border-radius: 5px;
   background: #EEEEEE;
   box-shadow: 0px 8px 24px  rgba(0, 0, 0, 0.15);
}

.sujet-input::placeholder {
   position: absolute;
   top: 0.5em;
   left: 0.8em;
}

.btn {
   position: absolute;
   top: 26em;
   left: 15em;
   background: #141E61;
   color: #EEEEEE;
   width: 8vw;
}

.main-footer {
   display: flex;
   height: 30vh;
   position: relative;
   top: 20em;
}

.content {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.nav-items {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 8vw;
}

.nav-items li a {
   text-decoration: none;
   list-style: none;
   color: #EDEEF7;
   font-family: 'Heebo', sans-serif;
}

.main-logo {
   color: #EDEEF7;
   font-family: 'Bungee', cursive;
}

.icon {
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
   color: #EDEEF7;
   border-radius: 40px;
   font-size: 3em;
}

.icons {
   color: #4267B2;
   font-size: 3em;
}

.social-media {
   width: 10vw;
   display: flex;
   justify-content: space-evenly;
}